#main-doc{
	height: 100%;
	flex-direction: row;

}

#navbar{
	font-family: 'Muli', sans-serif;
	font-size: 28px;
	display: block;
	position: fixed;
	height: 100%;
	width: 25%;
	color: #fff8f2;
  	text-decoration: none;
  	overflow: auto;
  	background-color: #6ea2d1;
  	top: 0;
  	left: 0;
}
a{
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	display: block;
	border-bottom: 1px solid #555;
	padding: 10px 0px 10px 28px;
	text-decoration: none;
	color: #fff8f2;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
#container2{
	font-family: 'Muli', sans-serif;
	margin-left: 28%;
	margin-right: 50px;
	height: 100%;
}
#nav-header{
	border-bottom: 1px solid #555;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
.bigger_text{
	font-size: 30px;
	color: #017550;
}
#code{
	background-color: #b8d6d8;
	width: 100%;
	height: 100%;
	padding: 10px 10px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #295;
  }
}
p{
	margin-bottom: 40px;
}
